#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Generated Ansible host_var files
modules/palo-alto-conf

# Generated Ansible inventory
modules/palo-alto-config/pan-os-ansible/inventory.ini

# Ansible playbook replay file
modules/palo-alto-config/pan-os-ansible/playbook.retry