#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Generated Ansible host_var files
pan-os-ansible/host_vars/*

# Generated Ansible inventory
pan-os-ansible/inventory.ini

# Ansible playbook replay file
pan-os-ansible/playbook.retry

venv/
roles/

# Vim swap files
*.sw*
