<?xml version="1.0"?>
<config version="8.1.0" urldb="paloaltonetworks">
  <devices>
    <entry name="localhost.localdomain">
      <vsys>
        <entry name="vsys1">
          <profiles>
            <virus>
              <entry name="virus_policy">
                <decoder>
                  <entry name="http">
                    <action>default</action>
                    <wildfire-action>reset-both</wildfire-action>
                  </entry>
                  <entry name="smtp">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="imap">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="pop3">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="ftp">
                    <action>default</action>
                    <wildfire-action>allow</wildfire-action>
                  </entry>
                  <entry name="smb">
                    <action>default</action>
                    <wildfire-action>reset-both</wildfire-action>
                  </entry>
                </decoder>
              </entry>
            </virus>
            <vulnerability>
              <entry name="vulnerability_policy">
                <rules>
                  <entry name="simple-client-critical">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>critical</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-high">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>high</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-medium">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>medium</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-informational">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>informational</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-client-low">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>low</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>client</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-critical">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>critical</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-high">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>high</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-medium">
                    <action>
                      <reset-both/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>medium</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-informational">
                    <action>
                      <default/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>informational</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                  <entry name="simple-server-low">
                    <action>
                      <default/>
                    </action>
                    <vendor-id>
                      <member>any</member>
                    </vendor-id>
                    <severity>
                      <member>low</member>
                    </severity>
                    <cve>
                      <member>any</member>
                    </cve>
                    <threat-name>any</threat-name>
                    <host>server</host>
                    <category>any</category>
                    <packet-capture>disable</packet-capture>
                  </entry>
                </rules>
              </entry>
            </vulnerability>
            <file-blocking>
              <entry name="file_blocking_policy">
                <rules>
                  <entry name="Block all risky file types">
                    <application>
                      <member>any</member>
                    </application>
                    <file-type>
                      <member>7z</member>
                      <member>bat</member>
                      <member>cab</member>
                      <member>chm</member>
                      <member>class</member>
                      <member>cpl</member>
                      <member>dll</member>
                      <member>exe</member>
                      <member>flash</member>
                      <member>hlp</member>
                      <member>hta</member>
                      <member>msi</member>
                      <member>Multi-Level-Encoding</member>
                      <member>ocx</member>
                      <member>PE</member>
                      <member>pif</member>
                      <member>rar</member>
                      <member>scr</member>
                      <member>tar</member>
                      <member>torrent</member>
                      <member>vbe</member>
                      <member>wsf</member>
                    </file-type>
                    <direction>both</direction>
                    <action>block</action>
                  </entry>
                  <entry name="Continue prompt encrypted files">
                    <application>
                      <member>any</member>
                    </application>
                    <file-type>
                      <member>encrypted-rar</member>
                      <member>encrypted-zip</member>
                    </file-type>
                    <direction>both</direction>
                    <action>block</action>
                  </entry>
                  <entry name="Log all other file types">
                    <application>
                      <member>any</member>
                    </application>
                    <file-type>
                      <member>any</member>
                    </file-type>
                    <direction>both</direction>
                    <action>alert</action>
                  </entry>
                </rules>
              </entry>
            </file-blocking>
            <url-filtering>
              <entry name="URLFPolicy">
                <credential-enforcement>
                  <mode>
                    <disabled/>
                  </mode>
                  <log-severity>medium</log-severity>
                  <block>
                    <member>abused-drugs</member>
                    <member>adult</member>
                    <member>command-and-control</member>
                    <member>gambling</member>
                    <member>hacking</member>
                    <member>malware</member>
                    <member>phishing</member>
                    <member>questionable</member>
                    <member>weapons</member>
                  </block>
                </credential-enforcement>
                <action>block</action>
                <log-http-hdr-user-agent>no</log-http-hdr-user-agent>
                <block>
                  <member>abused-drugs</member>
                  <member>adult</member>
                  <member>command-and-control</member>
                  <member>gambling</member>
                  <member>hacking</member>
                  <member>malware</member>
                  <member>phishing</member>
                  <member>questionable</member>
                  <member>weapons</member>
                </block>
              </entry>
            </url-filtering>
          </profiles>
        </entry>
      </vsys>
      <network>
        <virtual-router>
          <entry name="default">
            <protocol>
              <bgp>
                <enable>no</enable>
                <dampening-profile>
                  <entry name="default">
                    <cutoff>1.25</cutoff>
                    <reuse>0.5</reuse>
                    <max-hold-time>900</max-hold-time>
                    <decay-half-life-reachable>300</decay-half-life-reachable>
                    <decay-half-life-unreachable>900</decay-half-life-unreachable>
                    <enable>yes</enable>
                  </entry>
                </dampening-profile>
                <routing-options>
                  <graceful-restart>
                    <enable>yes</enable>
                  </graceful-restart>
                </routing-options>
              </bgp>
              <rip>
                <enable>no</enable>
              </rip>
              <ospf>
                <enable>no</enable>
              </ospf>
              <ospfv3>
                <enable>no</enable>
              </ospfv3>
            </protocol>
            <ecmp>
              <algorithm>
                <ip-modulo/>
              </algorithm>
            </ecmp>
          </entry>
        </virtual-router>
      </network>
      <deviceconfig>
        <system>
          <timezone>Europe/London</timezone>
          <type>
            <dhcp-client>
              <send-hostname>yes</send-hostname>
              <send-client-id>no</send-client-id>
              <accept-dhcp-hostname>no</accept-dhcp-hostname>
              <accept-dhcp-domain>no</accept-dhcp-domain>
            </dhcp-client>
          </type>
          <ntp-servers>
            <primary-ntp-server>
              <ntp-server-address>time.windows.com</ntp-server-address>
            </primary-ntp-server>
          </ntp-servers>
        </system>
      </deviceconfig>
    </entry>
  </devices>
</config>