---
mgmt_ip: "${mgmt_ip}"
mgmt_address_prefix: "${mgmt_address_prefix}"
trusted_ip: "${trusted_ip}"
trusted_address_prefix: "${trusted_address_prefix}"
untrusted_ip: "${untrusted_ip}"
untrusted_address_prefix: "${untrusted_address_prefix}"
trusted_destination_ip: "${trusted_destination_ip}"
trusted_destination_host: "${trusted_destination_host}"
username: "${username}"
password: "${password}"
log_username: "${log_username}"
log_password: "${log_password}"
is_ctsc: "{is_ctsc}"
